In [30]:
import requests
from bs4 import BeautifulSoup as bs
import pandas as pd

In [31]:
data=[]
seperate_rows=[]

In [32]:
url="https://in.finance.yahoo.com/quote/BANKBARODA.BO/history/"
data_link=requests.get(url)

In [33]:
final_html = bs(data_link.text, "html.parser")

In [35]:
for tabel in final_html.find("table",{"class":"W(100%) M(0)"}):
    for tbody in tabel:
        for tr in tbody:
            data.append(tr.get_text())

rows=len(data)/7
for x in range(round(rows)):
    new_temp=[]
    for i in range(7):
        new_temp.append(data[0])
        data.pop(0)
    seperate_rows.append(new_temp)

In [125]:
df1=pd.DataFrame(seperate_rows)

In [126]:
df1

               0      1      2      3       4             5          6
0           Date   Open   High    Low  Close*  Adj. close**     Volume
1    24-Dec-2020  61.00  63.25  60.60   60.85         60.85  22,24,472
2    23-Dec-2020  58.95  60.80  58.05   60.55         60.55  20,04,762
3    22-Dec-2020  58.00  60.00  56.20   58.85         58.85  29,96,677
4    21-Dec-2020  62.00  63.50  56.80   58.70         58.70  56,03,333
..           ...    ...    ...    ...     ...           ...        ...
96   11-Aug-2020  47.10  48.35  46.70   47.10         47.10  13,55,527
97   10-Aug-2020  49.00  49.20  47.90   48.55         48.55  19,68,441
98   07-Aug-2020  46.80  48.80  46.10   48.45         48.45  14,76,965
99   06-Aug-2020  46.90  47.00  45.95   46.25         46.25  13,64,978
100  05-Aug-2020  46.90  47.45  46.30   46.40         46.40  17,04,969

[101 rows x 7 columns]

In [127]:
df1.columns=['Date','Open','High','Low','Close*','Adj. close**','Volume']

In [128]:
df1

            Date   Open   High    Low  Close*  Adj. close**     Volume
0           Date   Open   High    Low  Close*  Adj. close**     Volume
1    24-Dec-2020  61.00  63.25  60.60   60.85         60.85  22,24,472
2    23-Dec-2020  58.95  60.80  58.05   60.55         60.55  20,04,762
3    22-Dec-2020  58.00  60.00  56.20   58.85         58.85  29,96,677
4    21-Dec-2020  62.00  63.50  56.80   58.70         58.70  56,03,333
..           ...    ...    ...    ...     ...           ...        ...
96   11-Aug-2020  47.10  48.35  46.70   47.10         47.10  13,55,527
97   10-Aug-2020  49.00  49.20  47.90   48.55         48.55  19,68,441
98   07-Aug-2020  46.80  48.80  46.10   48.45         48.45  14,76,965
99   06-Aug-2020  46.90  47.00  45.95   46.25         46.25  13,64,978
100  05-Aug-2020  46.90  47.45  46.30   46.40         46.40  17,04,969

[101 rows x 7 columns]

In [129]:
data=df1.iloc[1:]

In [130]:
data

            Date   Open   High    Low Close* Adj. close**     Volume
1    24-Dec-2020  61.00  63.25  60.60  60.85        60.85  22,24,472
2    23-Dec-2020  58.95  60.80  58.05  60.55        60.55  20,04,762
3    22-Dec-2020  58.00  60.00  56.20  58.85        58.85  29,96,677
4    21-Dec-2020  62.00  63.50  56.80  58.70        58.70  56,03,333
5    18-Dec-2020  63.85  64.30  62.00  63.10        63.10  23,14,386
..           ...    ...    ...    ...    ...          ...        ...
96   11-Aug-2020  47.10  48.35  46.70  47.10        47.10  13,55,527
97   10-Aug-2020  49.00  49.20  47.90  48.55        48.55  19,68,441
98   07-Aug-2020  46.80  48.80  46.10  48.45        48.45  14,76,965
99   06-Aug-2020  46.90  47.00  45.95  46.25        46.25  13,64,978
100  05-Aug-2020  46.90  47.45  46.30  46.40        46.40  17,04,969

[100 rows x 7 columns]

In [131]:
correct=[]
for i in data['Volume']:
    a=i.replace(",","")
    correct.append(a)

22,24,472
20,04,762
29,96,677
56,03,333
23,14,386
37,30,342
33,08,761
23,91,499
38,87,089
52,38,335
59,07,824
75,93,534
64,91,176
39,99,355
47,31,337
68,84,097
31,45,054
21,31,700
25,37,042
22,57,039
70,68,245
23,64,543
12,39,100
13,36,141
20,84,030
41,30,946
16,81,501
-
9,17,943
14,17,678
23,86,911
32,49,047
32,67,894
25,83,637
23,90,521
33,93,970
30,49,714
36,13,025
28,28,025
21,03,440
19,48,563
36,52,393
55,22,724
23,45,639
12,50,261
42,63,875
22,55,915
41,74,777
30,74,284
28,63,560
11,43,676
25,10,382
31,84,898
30,46,421
28,42,479
19,12,484
34,65,534
27,73,818
26,80,282
45,73,961
17,71,806
48,25,424
8,04,669
16,18,192
21,94,346
26,10,160
15,17,364
10,63,787
18,45,003
10,36,499
10,10,821
20,42,077
27,74,706
16,73,058
32,85,633
55,35,139
15,46,585
22,52,878
12,89,500
11,63,274
16,94,474
59,80,310
44,89,059
13,00,711
7,92,207
31,87,696
13,58,746
12,05,922
8,38,173
15,45,660
11,75,812
16,33,715
15,99,108
8,09,695
30,61,851
13,55,527
19,68,441
14,76,965
13,64,978
17,04,969

In [132]:
correct=correct.pop(27)

In [138]:
data['Date']=data['Date'].pop(27)
data['Open']=data['Open'].pop(27)
data['High']=data['High'].pop(27)
data['Low']=data['Low'].pop(27)
data['Close*']=data['Close*'].pop(27)
data['Adj. close**']=data['Adj. close**'].pop(27)

C:\Users\harsh\anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
C:\Users\harsh\anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\harsh\anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
C:\Users\harsh\anaconda3\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.
C:\Users\harsh\anaconda3\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """
C:\Users\harsh\anaconda3\lib\site-packages\ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [139]:
data['Volume_int']=replcae

C:\Users\harsh\anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [143]:
data=data.drop(columns=['Volume'],axis=1)

In [144]:
data

            Date   Open   High    Low Close* Adj. close** Volume_int
1    17-Nov-2020  46.55  47.90  46.55  47.55        47.55    1704969
2    17-Nov-2020  46.55  47.90  46.55  47.55        47.55    1704969
3    17-Nov-2020  46.55  47.90  46.55  47.55        47.55    1704969
4    17-Nov-2020  46.55  47.90  46.55  47.55        47.55    1704969
5    17-Nov-2020  46.55  47.90  46.55  47.55        47.55    1704969
..           ...    ...    ...    ...    ...          ...        ...
96   17-Nov-2020  46.55  47.90  46.55  47.55        47.55    1704969
97   17-Nov-2020  46.55  47.90  46.55  47.55        47.55    1704969
98   17-Nov-2020  46.55  47.90  46.55  47.55        47.55    1704969
99   17-Nov-2020  46.55  47.90  46.55  47.55        47.55    1704969
100  17-Nov-2020  46.55  47.90  46.55  47.55        47.55    1704969

[100 rows x 7 columns]

In [145]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 1 to 100
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Date          100 non-null    object
 1   Open          100 non-null    object
 2   High          100 non-null    object
 3   Low           100 non-null    object
 4   Close*        100 non-null    object
 5   Adj. close**  100 non-null    object
 6   Volume_int    100 non-null    object
dtypes: object(7)
memory usage: 5.6+ KB

In [157]:
data['Volume_int']=data['Volume_int'].astype(int)
data['Open']=data['Open'].astype(float)
data['High']=data['High'].astype(float)
data['Low']=data['Low'].astype(float)
data['Close*']=data['Close*'].astype(float)
data['Adj. close**']=data['Adj. close**'].astype(float)

In [158]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 1 to 100
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Date          100 non-null    object
 1   Open          100 non-null    float64
 2   High          100 non-null    float64
 3   Low           100 non-null    float64
 4   Close*        100 non-null    float64
 5   Adj. close**  100 non-null    float64
 6   Volume_int    100 non-null    int32
dtypes: float64(5), int32(1), object(1)
memory usage: 5.2+ KB